.carousel {
    position: relative;
    top: 30px;
    left: 140px;
}

.section-header-about {
    /* display: flex; 
    flex-direction: row; */
    font-size: 48px;
    font-weight: bold;
    position: relative;
    left: 100px;
}

.about-description ul {
    padding-top: 20px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 10px));
}

.about-description li {
    position: relative;
    padding-left: 20px;
    font-size: 18px;
}

.about-description li::before {
    content: "▹    ";
    color: var(--green-bright);
    position: absolute;
    left: 0;
}

.about-content {
    display: flex;
    flex-direction: row;
}

.about-description {
    max-width: 600px;
    font-size: 22px;
    text-align: justify;
    margin: 0;
}

.about-description a,
.about-description b {
    font-size: 21px;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
#about {
    height: unset;
    padding-left: unset;
    padding-right: unset;
    padding-top: 30%;
}

.about-description {
    font-size: 18px;
    text-align: justify;
}

.about-description a,
.about-description b {
    font-size: 17px;
}

.about-content {
    display: unset;
}
}