#experience-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    top: 350px;
}

.section-header-experience {
    position: relative;
    left: -320px;
    top: -350px;
    font-size: 48px;
    font-weight: bold;
}