#footer {
    display: flex;
    align-items: center;
    padding-top: 100px;
    position: relative;
    top: 100px;
    left: 550px;
}
  
.ending-credits {
    text-align: center;
    width: 100%;
    font-size: 12px;
    padding-bottom: 40px;
}